<div class="px-[16px] py-[12px] md:mx-[56px] ">
  <div class="flex justify-start gap-1 flex-row items-center mb-2">
    <span style="color: #FA8A8A; font-size: 16px;"><i class="fa-solid fa-star"></i></span>
    <span style="color: #FA8A8A; font-size: 16px;"><i class="fa-solid fa-star"></i></span>
    <span style="color: #FA8A8A; font-size: 16px;"><i class="fa-solid fa-star"></i></span>
    <span style="color: #FA8A8A; font-size: 16px;"><i class="fa-solid fa-star"></i></span>
    <span style="color: #FA8A8A; font-size: 16px;"><i class="fa-solid fa-star-half-stroke"></i></span>
    <p class="text-light mx-1">4.67 out of 5</p>
  </div>
  <div class="flex justify-start gap-1">
    <p class="text-light mx-1">Based on 110 reviews</p>
    <img src="../assets/others/judge.mark.svg" alt="">
  </div>

</div>