    <div class="flex flex-col">
      <!-- Individual Reviews 1 -->
      <div class="p-[16px] border-b border-1 border-[#FA8A8A]/20 flex flex-col gap-2 md:gap-4">

        <!-- Rating & Time-->
        <div class="flex justify-between items-center">
          <div class="flex justify-start gap-1 items-center">
            <span style="color: #FA8A8A; font-size: 16px;"><i class="fa-solid fa-star"></i></span>
            <span style="color: #FA8A8A; font-size: 16px;"><i class="fa-solid fa-star"></i></span>
            <span style="color: #FA8A8A; font-size: 16px;"><i class="fa-solid fa-star"></i></span>
            <span style="color: #FA8A8A; font-size: 16px;"><i class="fa-solid fa-star"></i></span>
            <span style="color: #FA8A8A; font-size: 16px;"><i class="fa-solid fa-star"></i></span>

          </div>
          <p class="text-gray-400 font-extralight text-[14px]">12/08/2025</p>
        </div>

        <!-- Avatar -->
        <div class="flex justify-start items-start gap-2">
          <div class="relative bg-gray-100 p-1">
            <span style="color: #FA8A8A; font-size: 24px">
              <i class="fa-regular fa-user"></i>
            </span>
            <div class="bg-[#FA8A8A] w-[11px] h-[11px] flex justify-center items-center absolute bottom-0 right-0 ">
              <span style="color: white; font-size: 10px;"><i class="fa-solid fa-check"></i></span>
            </div>
          </div>
          <p class="text-[#FA8A8A] text-[16px]">Anonymous</p>
          <div class="bg-[#FA8A8A] px-[5px] py-[2px] text-white text-[12px] flex justify-between items-center">
            <p>Verified</p>
          </div>
        </div>

        <!-- Review Text -->
        <div>
          <p>Pretty sure I’m seeing improvement in the smoothness of my skin after 30 days. Will continue with confidence it’s working.</p>
        </div>

        <div class="">
          <p class="text-gray-400 font-light "><span class="px-[5px] py-[2px] border border-1 border-gray text-[12px]">Review collected via store invitation</span></p>
        </div>
      </div>

      <!-- Individual Reviews 2 -->
      <div class="p-[16px] border-b border-1 border-[#FA8A8A]/20 flex flex-col gap-2 md:gap-4">

        <!-- Rating & Time-->
        <div class="flex justify-between items-center">
          <div class="flex justify-start gap-1 items-center">
            <span style="color: #FA8A8A; font-size: 16px;"><i class="fa-solid fa-star"></i></span>
            <span style="color: #FA8A8A; font-size: 16px;"><i class="fa-solid fa-star"></i></span>
            <span style="color: #FA8A8A; font-size: 16px;"><i class="fa-solid fa-star"></i></span>
            <span style="color: #FA8A8A; font-size: 16px;"><i class="fa-solid fa-star"></i></span>
            <span style="color: #FA8A8A; font-size: 16px;"><i class="fa-solid fa-star"></i></span>

          </div>
          <p class="text-gray-400 font-extralight text-[14px]">12/01/2025</p>
        </div>

        <!-- Avatar -->
        <div class="flex justify-start items-start gap-2">
          <div class="relative bg-gray-100 p-1">
            <span style="color: #FA8A8A; font-size: 24px">
              <i class="fa-regular fa-user"></i>
            </span>
            <div class="bg-[#FA8A8A] w-[11px] h-[11px] flex justify-center items-center absolute bottom-0 right-0 ">
              <span style="color: white; font-size: 10px;"><i class="fa-solid fa-check"></i></span>
            </div>
          </div>
          <p class="text-[#FA8A8A] text-[16px]">Anonymous</p>
          <div class="bg-[#FA8A8A] px-[5px] py-[2px] text-white text-[12px] flex justify-between items-center">
            <p>Verified</p>
          </div>
        </div>

        <!-- Review Text -->
        <div>
          <p>One month and I’ve already seen a difference!</p>
        </div>

        <div class="">
          <p class="text-gray-400 font-light "><span class="px-[5px] py-[2px] border border-1 border-gray text-[12px]">Review collected via store invitation</span></p>
        </div>
      </div>

      <!-- Individual Reviews 3 -->
      <div class="p-[16px] border-b border-1 border-[#FA8A8A]/20 flex flex-col gap-2 md:gap-4">

        <!-- Rating & Time-->
        <div class="flex justify-between items-center">
          <div class="flex justify-start gap-1 items-center">
            <span style="color: #FA8A8A; font-size: 16px;"><i class="fa-solid fa-star"></i></span>
            <span style="color: #FA8A8A; font-size: 16px;"><i class="fa-solid fa-star"></i></span>
            <span style="color: #FA8A8A; font-size: 16px;"><i class="fa-solid fa-star"></i></span>
            <span style="color: #FA8A8A; font-size: 16px;"><i class="fa-solid fa-star"></i></span>
            <span style="color: #FA8A8A; font-size: 16px;"><i class="fa-solid fa-star"></i></span>

          </div>
          <p class="text-gray-400 font-extralight text-[14px]">11/23/2025</p>
        </div>

        <!-- Avatar -->
        <div class="flex justify-start items-start gap-2">
          <div class="relative bg-gray-100 p-1">
            <span style="color: #FA8A8A; font-size: 24px">
              <i class="fa-regular fa-user"></i>
            </span>
            <div class="bg-[#FA8A8A] w-[11px] h-[11px] flex justify-center items-center absolute bottom-0 right-0 ">
              <span style="color: white; font-size: 10px;"><i class="fa-solid fa-check"></i></span>
            </div>
          </div>
          <p class="text-[#FA8A8A] text-[16px]">Donabeth Houx</p>
          <div class="bg-[#FA8A8A] px-[5px] py-[2px] text-white text-[12px] flex justify-between items-center">
            <p>Verified</p>
          </div>
        </div>

        <!-- Review Text -->
        <div>
          <p>I LOVE THEM! My legs have gone from late stage 2 to late one!!! Oh my gosh! It’s a miracle! I no longer have to worry about elephantitus in my future! Thank you so much!!!!!!</p>
        </div>

        <div class="">
          <p class="text-gray-400 font-light "><span class="px-[5px] py-[2px] border border-1 border-gray text-[12px]">Review collected via store invitation</span></p>
        </div>
      </div>

      <!-- Individual Reviews 4 -->
      <div class="p-[16px] border-b border-1 border-[#FA8A8A]/20 flex flex-col gap-2 md:gap-4">

        <!-- Rating & Time-->
        <div class="flex justify-between items-center">
          <div class="flex justify-start gap-1 items-center">
            <span style="color: #FA8A8A; font-size: 16px;"><i class="fa-solid fa-star"></i></span>
            <span style="color: #FA8A8A; font-size: 16px;"><i class="fa-solid fa-star"></i></span>
            <span style="color: #FA8A8A; font-size: 16px;"><i class="fa-solid fa-star"></i></span>
            <span style="color: #FA8A8A; font-size: 16px;"><i class="fa-solid fa-star"></i></span>
            <span style="color: #FA8A8A; font-size: 16px;"><i class="fa-solid fa-star"></i></span>

          </div>
          <p class="text-gray-400 font-extralight text-[14px]">11/17/2025</p>
        </div>

        <!-- Avatar -->
        <div class="flex justify-start items-start gap-2">
          <div class="relative bg-gray-100 p-1">
            <span style="color: #FA8A8A; font-size: 24px">
              <i class="fa-regular fa-user"></i>
            </span>
            <div class="bg-[#FA8A8A] w-[11px] h-[11px] flex justify-center items-center absolute bottom-0 right-0 ">
              <span style="color: white; font-size: 10px;"><i class="fa-solid fa-check"></i></span>
            </div>
          </div>
          <p class="text-[#FA8A8A] text-[16px]">Dawn Camacho</p>
          <div class="bg-[#FA8A8A] px-[5px] py-[2px] text-white text-[12px] flex justify-between items-center">
            <p>Verified</p>
          </div>
        </div>

        <!-- Review Text -->
        <div>
          <p>Pretty sure I’m seeing improvement in the smoothness of my skin after 30 days. Will continue with confidence it’s working.</p>
        </div>

        <div class="">
          <p class="text-gray-400 font-light "><span class="px-[5px] py-[2px] border border-1 border-gray text-[12px]">Review collected via store invitation</span></p>
        </div>
      </div>
      <!-- Individual Reviews 5 -->
      <div class="p-[16px] border-b border-1 border-[#FA8A8A]/20 flex flex-col gap-2 md:gap-4">

        <!-- Rating & Time-->
        <div class="flex justify-between items-center">
          <div class="flex justify-start gap-1 items-center">
            <span style="color: #FA8A8A; font-size: 16px;"><i class="fa-solid fa-star"></i></span>
            <span style="color: #FA8A8A; font-size: 16px;"><i class="fa-solid fa-star"></i></span>
            <span style="color: #FA8A8A; font-size: 16px;"><i class="fa-solid fa-star"></i></span>
            <span style="color: #FA8A8A; font-size: 16px;"><i class="fa-solid fa-star"></i></span>
            <span style="color: #FA8A8A; font-size: 16px;"><i class="fa-solid fa-star"></i></span>

          </div>
          <p class="text-gray-400 font-extralight text-[14px]">11/13/2025</p>
        </div>

        <!-- Avatar -->
        <div class="flex justify-start items-start gap-2">
          <div class="relative bg-gray-100 p-1">
            <span style="color: #FA8A8A; font-size: 24px">
              <i class="fa-regular fa-user"></i>
            </span>
            <div class="bg-[#FA8A8A] w-[11px] h-[11px] flex justify-center items-center absolute bottom-0 right-0 ">
              <span style="color: white; font-size: 10px;"><i class="fa-solid fa-check"></i></span>
            </div>
          </div>
          <p class="text-[#FA8A8A] text-[16px]">Anonymous</p>
          <div class="bg-[#FA8A8A] px-[5px] py-[2px] text-white text-[12px] flex justify-between items-center">
            <p>Verified</p>
          </div>
        </div>

        <!-- Review Text -->
        <div>
          <p>I have noticed a difference on my swelling.</p>
        </div>

        <div class="">
          <p class="text-gray-400 font-light "><span class="px-[5px] py-[2px] border border-1 border-gray text-[12px]">Review collected via store invitation</span></p>
        </div>
      </div>
      <div class="flex justify-center items-center h-20 gap-5">
        <span class="font-['Montserrat',sans-serif] text-[24px] text-gray-500 font-black">1</span>
        <span class="font-['Montserrat',sans-serif] text-[16px] text-[#FA8A8A] cursor-pointer hover:text-[#FA8A8A]/60">2</span>
        <span class="font-['Montserrat',sans-serif] text-[16px] text-[#FA8A8A] cursor-pointer hover:text-[#FA8A8A]/60">3</span>
        <span class="font-['Montserrat',sans-serif] text-[16px] text-[#FA8A8A] cursor-pointer hover:text-[#FA8A8A]/60"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right-icon lucide-chevron-right">
            <path d="m9 18 6-6-6-6" />
          </svg></span>
        <div class="flex justify-start items-start "> <span class="font-['Montserrat',sans-serif] text-[16px] text-[#FA8A8A] cursor-pointer hover:text-[#FA8A8A]/60">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-last-icon lucide-chevron-last">
              <path d="m7 18 6-6-6-6" />
              <path d="M17 6v12" />
            </svg></span>

        </div>
      </div>
    </div>