 <div class="px-[60px] py-[12px] md:py-[24px] flex justify-center items-center mx-[16px] md:mx-[24px]">
   <div>
     <div class="flex justify-start gap-4 md:gap-10 flex-row md:gap-[24px] items-center mx-[16px] md:mx-[24px] cursor-pointer hover:opacity-60 transition-opacity">
       <div class="flex justify-center gap-1 items-center">
         <span style="color: #FA8A8A; font-size: 14px;"><i class="fa-solid fa-star"></i></span>
         <span style="color: #FA8A8A; font-size: 14px;"><i class="fa-solid fa-star"></i></span>
         <span style="color: #FA8A8A; font-size: 14px;"><i class="fa-solid fa-star"></i></span>
         <span style="color: #FA8A8A; font-size: 14px;"><i class="fa-solid fa-star"></i></span>
         <span style="color: #FA8A8A; font-size: 14px;"><i class="fa-solid fa-star"></i></span>
       </div>
       <!-- Progress bar -->
       <div class="bg-gray-200 w-[130px] md:w-[140px] h-4 relative total-bar" value="110">
         <div class="bg-[#FA8A8A] progress-bar h-full absolute top-0 left-0" value="84"></div>
       </div>
       <span>84</span>

     </div>

     <div class="flex justify-start gap-4 md:gap-10 flex-row md:gap-[24px] items-center mx-[16px] md:mx-[24px] cursor-pointer hover:opacity-60 transition-opacity">
       <div class="flex justify-center gap-1 items-center">
         <span style="color: #FA8A8A; font-size: 14px;"><i class="fa-solid fa-star"></i></span>
         <span style="color: #FA8A8A; font-size: 14px;"><i class="fa-solid fa-star"></i></span>
         <span style="color: #FA8A8A; font-size: 14px;"><i class="fa-solid fa-star"></i></span>
         <span style="color: #FA8A8A; font-size: 14px;"><i class="fa-solid fa-star"></i></span>
         <span style="color: #FA8A8A; font-size: 14px;"><i class="fa-regular fa-star"></i></span>
       </div>
       <!-- Progress bar -->
       <div class="bg-gray-200 w-[130px] md:w-[140px] h-4 relative total-bar" value="110">
         <div class="bg-[#FA8A8A] progress-bar h-full absolute top-0 left-0" value="17"></div>
       </div>
       <span>17</span>

     </div>

     <div class="flex justify-start gap-4 md:gap-10 flex-row md:gap-[24px] items-center mx-[16px] md:mx-[24px] cursor-pointer hover:opacity-60 transition-opacity">
       <div class="flex justify-center gap-1 items-center">
         <span style="color: #FA8A8A; font-size: 14px;"><i class="fa-solid fa-star"></i></span>
         <span style="color: #FA8A8A; font-size: 14px;"><i class="fa-solid fa-star"></i></span>
         <span style="color: #FA8A8A; font-size: 14px;"><i class="fa-solid fa-star"></i></span>
         <span style="color: #FA8A8A; font-size: 14px;"><i class="fa-regular fa-star"></i></span>
         <span style="color: #FA8A8A; font-size: 14px;"><i class="fa-regular fa-star"></i></span>
       </div>
       <!-- Progress bar -->
       <div class="bg-gray-200 w-[130px] md:w-[140px] h-4 relative total-bar" value="110">
         <div class="bg-[#FA8A8A] progress-bar h-full absolute top-0 left-0" value="8"></div>
       </div>
       <span>8</span>

     </div>

     <div class="flex justify-start gap-4 md:gap-10 flex-row md:gap-[24px] items-center mx-[16px] md:mx-[24px] cursor-pointer hover:opacity-60 transition-opacity">
       <div class="flex justify-center gap-1 items-center">
         <span style="color: #FA8A8A; font-size: 14px;"><i class="fa-solid fa-star"></i></span>
         <span style="color: #FA8A8A; font-size: 14px;"><i class="fa-solid fa-star"></i></span>
         <span style="color: #FA8A8A; font-size: 14px;"><i class="fa-regular fa-star"></i></span>
         <span style="color: #FA8A8A; font-size: 14px;"><i class="fa-regular fa-star"></i></span>
         <span style="color: #FA8A8A; font-size: 14px;"><i class="fa-regular fa-star"></i></span>
       </div>
       <!-- Progress bar -->
       <div class="bg-gray-200 w-[130px] md:w-[140px] h-4 relative total-bar" value="110">
         <div class="bg-[#FA8A8A] progress-bar h-full absolute top-0 left-0" value="1"></div>
       </div>
       <span>1</span>

     </div>

     <div class="flex justify-start gap-4 md:gap-10 flex-row md:gap-[24px] items-center mx-[16px] md:mx-[24px] cursor-pointer hover:opacity-60 transition-opacity">
       <div class="flex justify-center gap-1 items-center">
         <span style="color: #FA8A8A; font-size: 14px;"><i class="fa-solid fa-star"></i></span>
         <span style="color: #FA8A8A; font-size: 14px;"><i class="fa-regular fa-star"></i></span>
         <span style="color: #FA8A8A; font-size: 14px;"><i class="fa-regular fa-star"></i></span>
         <span style="color: #FA8A8A; font-size: 14px;"><i class="fa-regular fa-star"></i></span>
         <span style="color: #FA8A8A; font-size: 14px;"><i class="fa-regular fa-star"></i></span>
       </div>
       <!-- Progress bar -->
       <div class="bg-gray-200 w-[130px] md:w-[140px] h-4 relative total-bar" value="110">
         <div class="bg-[#FA8A8A] progress-bar h-full absolute top-0 left-0" value="0"></div>
       </div>
       <span>0</span>

     </div>
   </div>
 </div>