 <div class="flex justify-start py-4 font-[Nunito] items-center gap-4  border-b border-1 border-[#FA8A8A]/20">
   <select id="sort-dropdown" class="text-[#FA8A8A] text-[14px] font-medium cursor-pointer bg-transparent border-none outline-none">
     <option value="most_recent">
       <p>Most Recent</p>
     </option>
     <option value="highest_rating">
       <p>Highest Rating</p>
     </option>
     <option value="lowest_rating">
       <p>Lowest Rating</p>
     </option>
     <option value="only_pictures">
       <p>Only Pictures</p>
     </option>
     <option value="pictures_first">
       <p>Pictures First</p>
     </option>
     <option value="videos_first">
       <p>Videos First</p>
     </option>
     <option value="most_helpful">
       <p>Most Helpful</p>
     </option>
   </select>
 </div>