 <div class="bg-[#f3eee0] rounded-xl mt-[24px] p-[12px]">
   <!-- Avatar -->
   <div class="flex justify-start items-center gap-4 mb-[8px]">
     <img src="../assets/payment-images/margaret.webp" alt="" class="w-full max-w-[80px] rounded-full">
     <div class="flex flex-col justify-center items-start">
       <div class="flex flex-row justify-start items-center gap-2">
         <p>Margaret Ellison | FL</p>
         <img src="../assets/payment-images/verified-customer.avif" alt="" class="w-full max-w-[120px]">
       </div>
       <img src="../assets/five-star-green/five-star-green.png" alt="" class="w-full max-w-[100px] mt-[6px]">
     </div>
   </div>

   <!-- Review Text -->
   <div>
     <p class="font-semibold mb-[8px]">Even my husband noticed... the spark came back.</p>

     <p>After years of hiding under coverups, picking apart my body, and feeling disconnected, I finally feel at ease again. I feel less bloated, lighter, like my body is working with me not against me. These past months, I’ve been present. Even my marriage feels renewed, not just in how I look but in how I feel. It’s hard to explain, but once you try it you’ll get it. I’d recommend this to my closest friends without question.</p>
   </div>


 </div>