  <div class="py-[4px] md:py-[10px] flex flex-col justify-center items-center mx-4 md:mx-[10%] md:mb-8">
    <img src="../assets/draw-liked/connection-missing.png" alt="" class="w-full max-w-[35px] md:max-w-[50px]">
    <h2 class="text-center text-[24px] md:text-[32px] mt-[16px] md:mt-[32px]">Your <span class="text-[#039869]">Hidden</span> Drainage <br class="md:hidden">System</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 my-3 md:my-6 gap-4 md:gap-20 justify-start items-center">
      <div class="text-[16px] md:text-[18px] order-2 md:order-1">
        <p>Your lymphatic system is your body's internal cleaning crew—a network of vessels that processes <b>3-4 liters of cellular waste and excess fluid every single day.</b></p>
        <p class="my-1">
          When it's working properly, you don't even know it exists.
        </p>
        <ul class="space-y-1">
          <li>
            <p class="flex justify-start items-center gap-2 text-[#039869] font-semibold">
              <img src="../assets/others/check.png" alt="" class="w-5">
              Waste gets drained away
            </p>
          </li>
          <li>
            <p class="flex justify-start items-center gap-2 text-[#039869] font-semibold">
              <img src="../assets/others/check.png" alt="" class="w-5">
              Fluid stays balanced.
            </p>
          </li>
          <li>
            <p class="flex justify-start items-center gap-2 text-[#039869] font-semibold">
              <img src="../assets/others/check.png" alt="" class="w-5">Your body feels light and energized.
            </p>
          </li>
        </ul>
        <p class="bg-[#ffe3e3] px-[8px] py-[16px] rounded-xl my-[16px]"> But after age 35, declining estrogen hijacks this system's ability to function.</p>


        <ul class="space-y-1">
          <li>
            <p class="flex justify-start items-center gap-2 text-red-800 font-semibold">
              <img src="../assets/others/cross.png" alt="" class="w-5"> Vessel pumping weakens.
            </p>
          </li>
          <li>
            <p class="flex justify-start items-center gap-2 text-red-800 font-semibold">
              <img src="../assets/others/cross.png" alt="" class="w-5">
              One-way valves fail.
            </p>
          </li>
          <li>
            <p class="flex justify-start items-center gap-2 text-red-800 font-semibold">
              <img src="../assets/others/cross.png" alt="" class="w-5">
              Protein clogs form.
            </p>
          </li>
          <li>
            <p class="flex justify-start items-center gap-2 text-red-800 font-semibold">
              <img src="../assets/others/cross.png" alt="" class="w-5">
              Vessel walls become leaky.
            </p>
          </li>
        </ul>
        <p class="mt-1">Instead of processing and removing waste, it backs up in your tissues.</p>
      </div>
      <div class="flex justify-center items-center  order-1 md:order-2">

        <img src="../assets/chart/chart.webp" alt="" class="w-full  md:max-w-[570px]">
      </div>


      <div class="flex justify-center items-center order-3">

        <img src="../assets/others/other1.webp" alt="" class="w-full  md:max-w-[570px]">
      </div>

      <div class="text-[16px] md:text-[18px] order-4">
        <p class="my-1">
          <b>
            And it accumulates. Day after day. Week after week.
          </b>
        </p>
        <p>
          That gallon of fluid your body should be draining every 24 hours? It's pooling in your stomach, your legs, your face—anywhere gravity and tissue structure allow it to settle.
        </p>


        <div class="bg-[#ffe3e3] px-[8px] py-[16px] rounded-xl my-[16px]"> But after age 35, declining estrogen hijacks this system's ability to function.

          <ul class="space-y-1">
            <li>
              <p class="flex justify-start items-center gap-2 text-red-800 font-semibold">
                <img src="../assets/others/cross.png" alt="" class="w-5">
                That's why you're bloated.
              </p>
            </li>
            <li>
              <p class="flex justify-start items-center gap-2 text-red-800 font-semibold">
                <img src="../assets/others/cross.png" alt="" class="w-5">
                That's why your ankles swell.
              </p>
            </li>
            <li>
              <p class="flex justify-start items-center gap-2 text-red-800 font-semibold">
                <img src="../assets/others/cross.png" alt="" class="w-5">
                That's why you see cellulite.
              </p>
            </li>
            <li>
              <p class="flex justify-start items-center gap-2 text-red-800 font-semibold">
                <img src="../assets/others/cross.png" alt="" class="w-5">
                That's why you feel exhausted and foggy.
              </p>
            </li>
          </ul>
        </div>



        <p class="my-1">
          <b>
            Your cells are literally sitting in their own waste—and your body can't flush it out.
          </b>
        </p>
        <p>
          The longer this goes on, the worse it gets. More congestion. More inflammation. More pressure on an already compromised system. </p>
      </div>
    </div>
  </div>