 <div class="bg-[#f3eee0] p-0">
   <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mx-4 md:mx-[10%] py-12 gap-y-[20px]">
     <div class=" flex flex-col justify-center items-left">
       <img loading="lazy" class="hidden md:block max-w-[350px]" src="https://cdn.shopify.com/s/files/1/0917/5649/5191/files/Trustpilot_review.png?v=1752480694">
       <img loading="lazy" class="block md:hidden max-w-[250px]" src="https://cdn.shopify.com/s/files/1/0917/5649/5191/files/Trustpilot_review_1.png?v=1752480694">
       <h2 class="text-[32px] leading-[1.3em] my-4 font-normal font-[Lora]">Stop Masking Symptoms. Start Restoring Root Cause.</h2>
       <div>
         <p class="text-lg leading-[1.3em] my-3 font-[Nunito]">You deserve to feel like yourself again. To wake up without puffiness. To see your ankles. To look in the mirror and recognize the vibrant woman staring back. To have energy for the people you love.</p>
         <p class="text-lg leading-[1.3em] my-3 font-[Nunito]">You deserve a solution that actually works. Not temporary relief. Not symptom masking. Complete lymphatic restoration.</p>
       </div>

       <div class="block md:hidden">
         <img loading="lazy" class="w-full" src="../assets/layout/footer/footer.webp">
       </div>

       <div class="mt-6 flex flex-col items-center md:items-start">
         <a href="#" class="font-[Nunito] block py-[18px] px-6 md:px-20 cursor-pointer no-underline text-white bg-black rounded text-base md:text-lg transition-all duration-200 leading-[1.3em] text-center whitespace-nowrap w-full max-w-[350px] md:max-w-[500px]">Try Lymphatic Drainage Risk-Free</a>

         <p class="flex justify-center items-center gap-4 mt-4 font-[Nunito] w-full">
           <span>
             <img src="../assets/payment-images/60-day.webp" width="24px" alt="60-day guarantee">
           </span>
           <span>
             60-Day Money-Back Guarantee
           </span>
         </p>
       </div>
     </div>
     <div class="hidden md:block">
       <img loading="lazy" class="w-full" src="../assets/layout/footer/footer.webp">
     </div>
   </div>
 </div>