<div>
  <!-- Product Rating -->
  <div class="flex justify-start gap-4 items-center mb-4">
    <img src="../assets/five-star-green/five-star-green.png" alt="" class="w-[60px] md:w-[100px] font-[Nunito]">
    <p>4.8/5 Excellent | Based on 2381 Reviews</p>
  </div>

  <!-- Product Title -->
  <div>
    <h1 class=" text-[24px] md:text-[28px] flex items-center my-[16px] md:pr-20">New Maximum Potency Formula - Lymphatic Drainage Capsules by Sculptique™</h1>
  </div>

  <!-- Product Icons And description-->
  <div>
    <div class="flex justify-start items-center gap-[16px] my-[16px]">
      <div>
        <img loading="lazy" src="../assets/product-icons/product-icon1.png" class=" w-[30px] md:w-[50px]" alt="users">
      </div>
      <div>
        <p>Join over 93 Thousand who say - it WORKS!</p>
      </div>
    </div>
    <div class="flex justify-start items-center gap-[16px] my-[16px]">
      <div>
        <img loading="lazy" src="../assets/product-icons/product-icon2.png" class=" w-[30px] md:w-[50px]" alt="users">
      </div>
      <div>
        <p>Restores your body’s natural 24-hour lymphatic cycle</p>
      </div>
    </div>
    <div class="flex justify-start items-center gap-[16px] my-[16px]">
      <div>
        <img loading="lazy" src="../assets/product-icons/product-icon3.webp" class=" w-[30px] md:w-[50px]" alt="users">
      </div>
      <div>
        <p>Helps reduce fluid retention and the appearance of puffiness and bloating</p>
      </div>
    </div>
    <div class="flex justify-start items-center gap-[16px] my-[16px]">
      <div>
        <img loading="lazy" src="../assets/product-icons/product-icon4.webp" class=" w-[30px] md:w-[50px]" alt="users">
      </div>
      <div>
        <p>Helps fall asleep faster, stay asleep longer and wake up energized</p>
      </div>
    </div>
    <div class="flex justify-start items-center gap-[16px] my-[16px]">
      <div>
        <img loading="lazy" src="../assets/product-icons/product-icon5.webp" class=" w-[30px] md:w-[50px]" alt="users">
      </div>
      <div>
        <p>Eliminates joint stiffness, pain, morning creakiness and feel more grounded</p>
      </div>
    </div>
    <div class="flex justify-start items-center gap-[16px] my-[16px]">
      <div>
        <img loading="lazy" src="../assets/product-icons/product-icon6.webp" class=" w-[30px] md:w-[50px]" alt="users">
      </div>
      <div>
        <p>Boosts energy, mental clarity and emotional balance</p>
      </div>
    </div>
  </div>

  <!-- FrontRow Widget Container - Do not remove -->
  <div id="frontrow-widget-container" class="my-4"></div>
</div>
</style>
</div>