<div class="py-[4px] md:py-[10px] flex flex-col justify-center items-center mx-4 md:mx-[10%]">
  <img src="../assets/draw-liked/connection-missing.png" alt="" class="w-full max-w-[35px] md:max-w-[50px]">
  <h2 class="text-center text-[24px] md:text-[32px] mt-[16px] md:mt-[32px]">The Connection <span class="text-[#039869]">You've Been Missing</span></h2>
  <div class=" mt-3 md:mt-6">
    <img src="../assets/table-liked/your-system.webp" alt="" class="w-full hidden md:block md:max-w-[920px]">
    <img src="../assets/table-liked/your-system_mobile.webp" alt="" class="w-full block md:hidden">
  </div>
</div>