 <div class="flex flex-col gap-[16px] mt-[16px]">
   <div id="product-expand1" class="product-expand p-[16px] border border-[#d2d2d2] cursor-pointer rounded-[30px]" data-expand="1">
     <p class="flex justify-between">Ingredients proven by science
       <img src="../assets/others/expand.png" alt="" class="max-w-[24px] transition-transform duration-300 ease-in-out" id="product-expand1-icon">
     </p>

     <div id="product-expand1-content" class="font-[Nunito] overflow-hidden transition-all duration-300 ease-in-out max-h-0 opacity-0">
       <div class="pt-4">
         <p class="text-black font-semibold text-[16px]"> Sculptique Ingredients:</p>
         <ul class="list-disc list-inside space-y-4 mt-4 mb-4">
           <li class=" text-[18px]"><span class="font-bold text-[#000000bf]">Dandelion Root:</span> <span class="font-light">A natural diuretic that helps reduce water retention and bloating.</span></li>
           <li class=" text-[18px]"><span class="font-bold text-[#000000bf]">Cranberry Extract:</span> <span class="font-light">Supports urinary tract health and helps flush out excess fluids.</span></li>
           <li class=" text-[18px]"><span class="font-bold text-[#000000bf]">Juniper Berry:</span> <span class="font-light">Known for its detoxifying properties, it aids in reducing swelling and inflammation.</span></li>
           <li class=" text-[18px]"><span class="font-bold text-[#000000bf]">Uva Ursi:</span> <span class="font-light">Promotes kidney function and helps eliminate excess water from the body.</span></li>
           <li class=" text-[18px]"><span class="font-bold text-[#000000bf]">Parsley Leaf:</span> <span class="font-light">A natural diuretic that supports kidney health and reduces fluid buildup.</span></li>
         </ul>
         These natural ingredients work together to reduce puffiness, bloating, fluid retention.
       </div>
     </div>
   </div>

   <div id="product-expand2" class="product-expand p-[16px] border border-[#d2d2d2] cursor-pointer rounded-[30px]" data-expand="2">
     <p class="flex justify-between">How does it actually work?
       <img src="../assets/others/expand.png" alt="" class="max-w-[24px] transition-transform duration-300 ease-in-out" id="product-expand2-icon">
     </p>
     <div id="product-expand2-content" class="font-[Nunito] overflow-hidden transition-all duration-300 ease-in-out max-h-0 opacity-0">
       <p class="pt-4">Sculptique works by improving blood flow and supporting lymphatic drainage to reduce fluid buildup that causes puffiness, inflammation, and water retention. It also reduces inflammation and boosts collagen production to help skin become firmer and smoother.</p>
     </div>
   </div>

   <div id="product-expand3" class="product-expand p-[16px] border border-[#d2d2d2] cursor-pointer rounded-[30px]" data-expand="3">
     <p class="flex justify-between"> Shipping and returns
       <img src="../assets/others/expand.png" alt="" class="max-w-[24px] transition-transform duration-300 ease-in-out" id="product-expand3-icon">
     </p>

     <div id="product-expand3-content" class="font-[Nunito] overflow-hidden transition-all duration-300 ease-in-out max-h-0 opacity-0">
       <p class="pt-4">
         All of Sculptique orders get FREE shipping straight from our USA warehouse. Orders are usually shipped out within 1-2 working days, and you should receive the order within 3-7 working days for domestic USA orders, and within 10 working days for International orders.
       </p>

       <p class="pt-4">
         We also offer a 60-day money back guarantee - if you are unsatisfied with our product, you can take advantage of our guarantee and ship back the product to us to get your return within 60 days of receiving your order.
       </p>
     </div>
   </div>

 </div>