 <div class="grid grid-cols-1 md:grid-cols-2 gap-1 md:gap-16 p-1 md:p-[32px] md:mx-[100px]">
   <!-- MOBILE VERSION-->
   <div class="block md:hidden px-2">
     <div id="product-mobile-images"></div>
   </div>

   <!--DESKTOP VERSION-->
   <div id="product-desktop-images"></div>

   <div>
     <!-- Product info -->
     <div class="mx-2">
       <div id="product-info"></div>


       <!--Buy selection-->
       <div id="tier-list"></div>

       <!--Payment Button -->
       <div id="payment-info"></div>

       <!-- Customer Review-->
       <div id="customer-review"></div>

       <!-- Expandable Product Info -->
       <div id="expandable-questions"></div>
     </div>
   </div>


 </div>