<div class="py-[32px] md:py-[56px] bg-[#f7f7f7] md:bg-white">
  <div class="px-[15px] md:mx-[80px] md:px-[50px]">
    <div class="grid grid-cols-1 md:grid-cols-2 bg-white md:bg-[#f7f7f7] rounded-b-xl md:rounded-l-xl">
      <div class="p-[16px] md:p-[32px] order-2 md:order-1">
        <p> July 4th, 2025</p>
        <h2 class="text-[24px] md:text-[32px] my-[16px]">Expert Advice from Dr. Emily Chen <br class="hidden md:block">of a Premier New York Skin Clinic</h2>
        <p class="my-[12px] text-[16px] md:text-[18px]">“Your nutrition plays a powerful role in your appearance. If your body is missing key vitamins and nutrients, it can’t process fat and upkeep healthy connective tissue, which is why unprocessed fat flows up and starts pushing up against your skin, forming bumps you know as cellulite.</p>
        <p class="my-[12px] text-[16px] md:text-[18px]">
          SmoothSkin by Sculptique™ contains ingredients that are scientifically proven to enhance microcirculation, boost lymphatic drainage, and reduce inflammation, which restores your tissue and breaks down the fat cells in your skin.”</p>

        <div class="mt-6 flex flex-col items-center md:items-start">
          <a href="#" class="font-[Nunito] block py-[18px] px-6 md:px-20 cursor-pointer no-underline text-white bg-black rounded text-base md:text-lg transition-all duration-200 leading-[1.3em] text-center whitespace-nowrap w-full max-w-[350px] md:max-w-[500px]">Try Lymphatic Drainage Risk-Free</a>

          <p class="flex justify-center items-center gap-4 mt-4 font-[Nunito] w-full">
            <span>
              <img src="../assets/payment-images/60-day.webp" width="24px" alt="60-day guarantee">
            </span>
            <span>
              60-Day Money-Back Guarantee
            </span>
          </p>
        </div>
      </div>
      <div class="w-full order-1 md:order-2">
        <img src="../assets/others/doctor-emily-chen.webp" alt="" class="w-full h-full object-cover rounded-xl">
      </div>

    </div>

  </div>
</div>