<div class="py-[32px] md:py-[56px]">
  <h2 class="text-center text-[24px] md:text-[32px] my-[16px]">Why Your
    <span class="text-[#039869]">Bloating, Brain Fog & Swollen Legs</span>
    Are
    <br class="hidden md:block">Actually Connected
  </h2>
  <p class="text-center">If you're experiencing more than one of these symptoms, your body is trying to tell you <br class="hidden md:block"> something:</p>

  <div class="flex flex-col md:flex-row flex-wrap justify-center items-stretch gap-4 mt-[32px] md:mt-[56px] mx-2">
    <div class="flex flex-row md:flex-col md:gap-2 bg-white rounded-t-xl overflow-hidden w-full md:w-[calc(20%-12px)]  md:max-w-[240px] shadow-sm">
      <img src="../assets/issues/issue1.webp" alt="bloating issue" class="w-full max-w-[170px] max-h-[170px] md:w-full md:max-w-[240px] md:max-h-[220px]  object-cover rounded-l-xl md:rounded-l-none md:rounded-t-xl">
      <p class="font-[Nunito] w-full text-center text-[12px] md:text-[16px]   md:p-4 flex items-center md:items-start justify-center flex-1 bg-[#f7f7f7]">
        Your stomach is flat in the morning, but by evening you look six months pregnant.
      </p>
    </div>
    <div class="flex flex-row md:flex-col md:gap-2 bg-white rounded-t-xl overflow-hidden w-full md:w-[calc(20%-12px)]  md:max-w-[240px] shadow-sm">
      <img src="../assets/issues/issue2.webp" alt="swollen ankles" class="w-full max-w-[170px] max-h-[170px] md:w-full md:max-w-[240px] md:max-h-[220px]  object-cover rounded-l-xl md:rounded-l-none md:rounded-t-xl">
      <p class="font-[Nunito] text-center  text-[16px]   p-4 flex items-center md:items-start justify-center flex-1 bg-[#f7f7f7]">
        Your ankles disappear into "kankles" by the end of the day.
      </p>
    </div>
    <div class="flex flex-row md:flex-col md:gap-2 bg-white rounded-t-xl overflow-hidden w-full md:w-[calc(20%-12px)]  md:max-w-[240px] shadow-sm">
      <img src="../assets/issues/issue3.webp" alt="cellulite" class="w-full max-w-[170px] max-h-[170px] md:w-full md:max-w-[240px] md:max-h-[220px]  object-cover rounded-l-xl md:rounded-l-none md:rounded-t-xl">
      <p class="font-[Nunito] text-center  text-[16px]   p-4 flex items-center md:items-start justify-center flex-1 bg-[#f7f7f7]">
        That dimpled, cottage cheese texture on your thighs won't go away no matter what you try.</p>
    </div>
    <div class="flex flex-row md:flex-col md:gap-2 bg-white rounded-t-xl overflow-hidden w-full md:w-[calc(20%-12px)]  md:max-w-[240px] shadow-sm">
      <img src="../assets/issues/issue4.webp" alt="fatigue" class="w-full max-w-[170px] max-h-[170px] md:w-full md:max-w-[240px] md:max-h-[220px]  object-cover rounded-l-xl md:rounded-l-none md:rounded-t-xl">
      <p class="font-[Nunito] text-center  text-[16px]   p-4 flex items-center md:items-start justify-center flex-1 bg-[#f7f7f7]">
        You feel foggy and exhausted even after a full night's sleep.</p>
    </div>
    <div class="flex flex-row md:flex-col md:gap-2 bg-white rounded-t-xl overflow-hidden w-full md:w-[calc(20%-12px)]  md:max-w-[240px] shadow-sm">
      <img src="../assets/issues/issue5.webp" alt="stiffness" class="w-full max-w-[170px] max-h-[170px] md:w-full md:max-w-[240px] md:max-h-[220px]  object-cover rounded-l-xl md:rounded-l-none md:rounded-t-xl">
      <p class="font-[Nunito] text-center text-[16px]   p-4 flex items-center md:items-start justify-center flex-1 bg-[#f7f7f7]">
        You wake up stiff and achy, like your body aged overnight.</p>
    </div>

  </div>
  <div class="flex justify-center items-start mx-auto mt-[40px] md:mt-[0px] w-full px-4">
    <img src="../assets/draw-liked/no-body-tell-you.webp" alt="" class="w-full hidden  md:block md:max-w-[920px]">
    <img src="../assets/draw-liked/no-body-tell-you-mobile.webp" alt="" class="w-full block md:hidden ">
  </div>
</div>